@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
	font-family: 'Do Hyeon', cursive;
	background: #2b2a2a;
}

#canvas-wrappper {
	position: relative;
	width: 500px;
	height: 500px;
}

#bottom-scene {
	border: 2px solid #2a5f3a;
	border-radius: 13px;
	background: url('assets/backgrounds/sand.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#top-scene {
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

.player-list {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	margin-left: 810px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 40px 20px;
	box-shadow: 6px 11px 44px -2px;
	background: url('assets/backgrounds/metal.jpg');
	background-size: 100% 100%;
}

.player-info {
	background: rgba(255, 254, 254, 0.9);
	padding: 12px;
	border-radius: 20%;
	box-shadow: 7px 10px 22px 10px #252424;
}

.name {
	font-size: 19px;
	background: rgba(182, 181, 181, 0.9);
	border-radius: 30px;
	padding: 8px;
}

.score {
	font-size: 30px;
}

.player-block {
	margin-bottom: 40px;
	max-width: 155px;
}

.player-block:last-of-type {
	margin: 0;
}

img {
	max-width: 120px;
	max-height: 120px;
	border-radius: 8px;
	border: 13px ridge #ead45dde;
}

.dead {
	filter: grayscale(100%);
}

.title {
	position: absolute;
	margin-left: 5px;
	top: 610px;
	width: 790px;
	border-radius: 10px;
	border: 2px solid;
	box-shadow: 4px 12px 20px -6px;
	background: url('assets/backgrounds/metal.jpg');
}

.title > h1 {
	color: #e2dda3f7;
	margin: 4px 0;
	text-align: center;
}

.snake-representation {
	height: 10px;
	width: 100px;
	margin-left: 15px;
	background: green;
}

#game-container {
	position: relative;
}
