@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
	background: pink;
}

#canvas-wrappper {
	position: relative;
	width: 500px;
	height: 500px;
}

#bottom-scene {
	background: url('assets/backgrounds/sand_background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#top-scene {
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

.player-list {
	font-family: 'Do Hyeon', cursive;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	margin-left: 800px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 40px 20px;
	background: rgba(171, 210, 171, 0.77);
}

.player-info {
	background: rgba(255, 254, 254, 0.9);
	padding: 12px;
	border-radius: 20%;
}

.score {
	font-size: 30px;
}

.player-block {
	margin-bottom: 40px;
	max-width: 150px;
}

.player-block:last-of-type {
	margin: 0;
}

img {
	max-width: 120px;
	max-height: 120px;
	border-radius: 8px;
	border: 13px ridge #ead45dde;
}

.dead {
	filter: grayscale(100%);
}

@media (max-width: 620px) {
	.player-list {
		flex-direction: row;
		margin-top: 510px;
		margin-left: 0;
		padding: 10px 40px;
	}
	.player-block {
		padding-right: 30px;
		margin-bottom: 0;
	}
	.player-info {
		padding: 0;
	}
	.score {
		font-size: 18px;
	}
}
