@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

#canvas {
	float: left;
}

.wrapper {
	font-family: 'Love Ya Like A Sister', cursive;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	padding-left: 20px;
}

.player-block {
	margin-bottom: 20px;
}

img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 8px;
}

.dead {
	filter: grayscale(100%);
}

@media (max-width: 710px) {
	.wrapper {
		flex-direction: row;
		margin-top: 20px;
	}
	.player-block {
		padding-right: 30px;
	}
}
