@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
	background: #2b2a2a;
	font-family: 'Do Hyeon', sans-serif;
	margin: 1em;
}

#container {
	display: grid;
	grid-row-gap: 1em;
	grid-template-rows: 1fr 7fr 2fr;
	max-height: 95vh;
}

#banner {
	background-image: url('backgrounds/metal.png');
	background-size: auto 240%;
	border-radius: 10px;
	border: 2px solid;
	box-shadow: 6px 11px 44px -2px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

#banner-snake {
	align-self: center;
	border-radius: 30px;
	margin-left: 30%;
	max-height: 100px;
	opacity: 0.85;
}

#banner-title {
	align-self: center;
	/* will need to convert colors to rgba for edge */
	background: #9e4646ed;
	border-radius: 1em;
	color: #fdebbef5;
	font-size: 48px;
}

#banner-fire {
	align-self: end;
	height: 70%;
	justify-self: center;
	max-height: 100px;
	opacity: 0.6;
	width: 43%;
}

#multi-canvas-container {
	position: relative;
}

canvas {
	border-radius: 13px;
	border: 2px solid #2a5f3a;
	height: 100%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	/* for canvas drawing quirk */
	top: -4px;
}

#background-layer {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 0;
}

#bottom-effects-layer {
	z-index: 1;
}

#main-layer {
	z-index: 2;
}

#top-effects-layer {
	z-index: 3;
}

#chat-panel {
	display: block;
}

#message-list {
	list-style-type: none;
	width: 14vw;
	height: 46vh;
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0;
}

#message-list > li {
	margin-bottom: 0.5em;
}

.chat-message {
	color: #fae5b9;
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	padding-left: 0.5em;
	white-space: pre-line;
}

#chat-form {
	position: absolute;
	bottom: 0;
	color: #fae5b9;
	padding-left: 0.4em;
}

#chat-input {
	border-radius: 10px;
	margin-left: 0.5em;
}

#chat-help {
	margin-top: 0.5em;
}

#players-container {
	background-image: url('backgrounds/metal.png');
	border-radius: 5px;
	border: 2px solid black;
	display: flex;
	/* edge will only do space-around */
	justify-content: space-evenly;
	margin-top: 15px;
	max-height: 270px;
	min-height: 195px;
}

.player-card {
	background: rgba(255, 254, 254, 1);
	border-radius: 20%;
	box-shadow: 6px 16px 22px 8px #0e0e0e;
	display: grid;
	grid-template-rows: 2fr 3fr 1fr;
	padding: 12px;
	will-change: transform;

	animation: grow 0.4s ease-in-out;
	will-change: transform;

	/* used to get cool overflow effect over parent container */
	height: 97%;
	margin-top: -10px;
}

.player-card.dead {
	animation: shake 0.4s ease-in-out;
	background: gray;
}

.player-image-and-name-container {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: 100px 100px;
	/* original implementation commented for reference */
	/* below made player cards of players with longer */
	/* names much wider in firefox */
	/* grid-template-columns: 1fr minmax(auto, 100px);
	grid-gap: 0.8em; */
}

.player-image {
	align-self: center;
	border-radius: 40%;
	border: 4px solid #ead45dde;
	height: 68px;
	width: 100px;
}

.player-image.dead {
	filter: grayscale(100%);
}

.player-name {
	align-self: center;
	background: rgba(182, 181, 181, 0.9);
	border-radius: 30px;
	box-shadow: inset 1px 1px 20px 0px;
	padding: 8px;
	text-align: center;
}

.player-score {
	align-self: center;
	background: white;
	border-radius: 20px;
	box-shadow: inset 1px 1px 20px 0px;
	font-size: 3.5em;
	text-align: center;
}

.player-color {
	background: black;
	height: 0.8em;
	justify-self: center;
	margin-top: 0.3em;
	width: 50%;
}

@keyframes grow {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate(-2px, 0);
	}

	20%,
	80% {
		transform: translate(2px, 0);
	}

	30%,
	50%,
	70% {
		transform: translate(-10px, 0);
	}

	40%,
	60% {
		transform: translate(4px, 0);
	}
}

@media (max-width: 74em) {
	body {
		-moz-transform: scale(0.5);
		zoom: 0.5;
	}
}

@media (max-width: 79em) {
	#banner-snake {
		max-height: 9vh;
		max-width: 21vw;
	}

	#banner-title {
		font-size: 2em;
	}
}

@media (min-width: 79em) and (max-width: 100em) {
	#banner-snake {
		max-height: 9vh;
	}
}

@media (min-width: 74em) and (max-width: 79em) {
	#banner-snake {
		margin-left: 15%;
	}
}

@media (min-width: 79em) and (max-width: 100em) and (min-height: 80em) {
	#banner-snake {
		margin-left: 15%;
	}
}

@media (max-width: 42em) {
	#chat-panel {
		display: none;
	}
}

@media (max-width: 115em) and (min-height: 80em) {
	#chat-panel {
		display: none;
	}
}

@media (max-height: 80em) and (max-width: 100em) {
	#message-list {
		height: 32vh;
	}
}
